<h1>Registered Users</h1>
<table border="1px solid black" cellpadding="5px">
    <thead>
    <tr>
        <th>User</th>
        <th>Marks</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.marks}"></td>
    </tr>
    </tbody>
</table>


<h2>Add Marks</h2>
<form action="/addMarks" method="post">
    <label>Name:</label>
    <input type="text" name="name" required/><br/>
    <label>Marks:</label>
    <input type="number" name="marks" min="0" max="100" required/><br/>
    <button type="submit">Add Marks</button>
</form>

